@import 'styles/utils.scss';

:local {
  .select-address {
    padding: 2rem 0;
    width: 100%;

    .address-province {
      padding: 1rem;
      font-weight: bold;
    }

    .address-city {
      padding: 1rem 1rem 0;

      .city-list {
        margin: 1.5rem 0;
        width: 100%;
        border: double 3px $oc-gray-5;

        ul {
          list-style: none;
          margin: 0;
          padding: .5rem;
          user-select: none;

          li {
            display: inline-block;
            width: 105px;
            margin: .5rem;
            padding-left: .3rem;

            font-size: .8rem;
            cursor: pointer;
          }
        }
      }
    }

    .btn {
      padding-bottom: 2rem;

      text-align: center;
      border-bottom: solid 1px $oc-gray-5;
    }
  }
}

.slt-cities {
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
}
