@import 'styles/utils.scss';

:local {
  .not-found {
    padding: 5.5rem 1rem;
    text-align: center;

    p {
      margin: 0;
      padding: 1.5rem;
      font-size: 1.7rem;
      font-weight: 500;
      color: $oc-gray-7;
    }

    .txt {
      padding-bottom: 3rem;
    }
  }
}
