@import 'styles/utils.scss';

:local {
  .pagination {
    padding: 2rem 5rem;
    display: flex;
    align-items: center;
    text-align: center;

    .number {
      flex: 1;

      a {
        margin: 0 1rem;
      }
      a:hover {
        color: $oc-blue-6;
      }
    }
  }
}
